{% extends "home/base.html" %}
{% load static %}
    
{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            {% block title %}

            {% endblock title %}
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Catalogo</h1>
                <p>Buscador de baterias Cyclon</p>
                <a class="btn btn-primary" href="{% url 'catalogo:consulta_catalogo' %}">Buscar</a>
            </div>
            </div>
        

            {% if user.is_authenticated %}           
                <p><a href="{% url 'catalogo:consulta_catalogo' %}">Buscar</a></p>
                <p><a href="{% url 'catalogo:catalogo_list' %}">Ver registros</a></p>
                <p><a href="{% url 'catalogo:index' %}">Ingresar Datos</a></p>
            {% else %}
                <p><a href="{% url 'catalogo:consulta_catalogo' %}">Buscar</a></p>
                <p><a href="{% url 'catalogo:catalogo_list' %}">Ver registros</a></p>
            {% endif %}
        </div>
    </div>
{% endblock content %}