<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'home:index' %}">Catalogo Cyclon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link text-bg-info">{{ user.username }}</a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="{% url 'catalogo:index' %}">Ingresar Datos</a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="{% url 'home:logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link {% if request.path == "/catalogo/list/" %} active  {% endif %}" href="{% url 'catalogo:catalogo_list' %}">Catalogo</a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="{% url 'home:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>