{% extends "catalogo/base.html" %}

{% block catalogo %}

    {% for catalogo in object_list %}

            <ul>
                <li>{{ catalogo.marca }} {{ catalogo.modelo }} {{ catalogo.año }}</li>  
                {% if user.is_authenticated %}
                    <a href="{% url 'catalogo:catalogo_detail' catalogo.id %}">Ver detalle</a> 
                    <a href="{% url 'catalogo:catalogo_update' catalogo.id %}">Modificar</a>
                    <a href="{% url 'catalogo:catalogo_delete' catalogo.id %}">Eliminar</a>
                {% else %}
                    <a href="{% url 'catalogo:catalogo_detail' catalogo.id %}">Ver detalle</a>
                {% endif %}
            </ul>
        
        {% endfor %}
  
            <p><a href="{% url 'home:index' %}">Ir al menu principal</a></p>

{% endblock catalogo %}