{% extends "catalogo/base.html" %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            {% block content_title %}
                <h3>Registros</h3>
            {% endblock content_title %}

            {% block catalogo %}
                {% if user.is_authenticated %}
                    <p><a class="btn btn-secondary" href="{% url 'catalogo:catalogo_form' %}">Ingresar Catalogo</a></p>
                    <p><a class="btn btn-secondary" href="{% url 'catalogo:marcacategoria_form' %}">Ingresar Marca</a></p>
                    <p><a class="btn btn-secondary" href="{% url 'catalogo:modelocategoria_form' %}">Ingresar Modelo</a></p>
                    <p><a class="btn btn-secondary" href="{% url 'catalogo:añocategoria_form' %}">Ingresar Año</a></p>
                    <p><a class="btn btn-secondary" href="{% url 'catalogo:bateriacategoria_form' %}">Ingresar Bateria</a></p>
                {% endif %}

            {% endblock catalogo %}

            <p><a class="btn btn-dark" href="{% url 'home:index' %}">Ir al menu principal</a></p>
        </div>
    </div>

{% endblock content %}
